<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Index主页</title>
		<meta name="author" content="https://github.com/xiaoyunchen/webpack"/>
		<meta name="date" content="2015-12-3"/>
		<meta name="description" content="基于webpack的前端工程化开发解决方案探索"/>
		<!--
        	作者：https://github.com/xiaoyunchen/webpack
        	时间：2015-12-03
        	描述：head中无需再引入css以及facicon，webpack将根据入口JS文件的要求自动实现按需加载或者生成style标签
        -->
	</head>
	<body>
		<p>
			<button id="btn">Add</button>
		</p>
		<!--
        	作者：chyun532@qq.com
        	时间：https://github.com/xiaoyunchen/webpack
        	描述：body中同样无需单独引入JS文件，webpack会根据入口JS文件自动实现按需加载或者生成script标签，还可以生成对应的hash值
        -->
	</body>
</html>
